
<ion-header>
  <ion-navbar>
    <ion-title>{{drink.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="drink!=0">
    <img [src]="drink.image" alt="">
    <ion-card>
      <ion-card-content>
        <ion-card-title>{{drink.name}}</ion-card-title>
        <h2>{{drink.detail}}</h2><br>
        <p>{{drink.predetail}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="drink==0">Sorry,your information not found!!</div>
  
  <ion-list inset>
 
  
  </ion-list>
</ion-content>
