
<ion-header>
  <ion-navbar>
    <ion-title>{{fastfood.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="fastfood!=0">
    <img [src]="fastfood.image" alt="">
    <ion-card>
      <ion-card-content>
        <ion-card-title>{{fastfood.name}}</ion-card-title>
        <h2>{{fastfood.detail}}</h2><br>
        <p>{{fastfood.predetail}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="fastfood==0">Sorry,your information not found!!</div>
  
  <ion-list inset>
  

  
  </ion-list>
</ion-content>
