
<ion-header>
  <ion-navbar>
    <ion-title>{{sweet.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="sweet!=0">
    <img [src]="sweet.image" alt="">
    <ion-card>
      <ion-card-content>
        <ion-card-title>{{sweet.name}}</ion-card-title>
        <h2>{{sweet.detail}}</h2><br>
        <p>{{sweet.predetail}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="sweet==0">Sorry,your information not found!!</div>
  
  <ion-list inset>
  
  
  </ion-list>
</ion-content>
